[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "~=2.6.3"
selenium = "~=3.9.0"
scrapy-selenium = "~=0.0.7"

[dev-packages]

[requires]
python_version = "3.10"
